* {
  margin: 0;
  padding: 0;
}
.blue {
  background-image: url(https://phonoteka.org/uploads/posts/2021-11/1635892019_8-phonoteka-org-p-pikselnii-fon-oblaka-krasivie-8.png);
}
.green {
  background-color: green;
  padding-top: 200px;
}
.grey {
  background-color: gray;
}
.dark-grey {
  background-color: rgb(47, 46, 46);
  padding-bottom: 100px;
}
.road {
  background-color: rgb(47, 46, 46);
  padding-top: 10px;
}
#road {
  border-top: 15px dashed white;
}
#mario {
  position: relative;
  animation: mario 10s infinite linear;
}
@keyframes mario {
  0% {
    left: 10%;
    top: 75%;
    transform: scaleX(1);
  }
  25% {
    left: 50%;
    top: 75%;
    transform: scaleX(1);
  }
  49% {
    left: 88%;
    top: 75%;
    transform: scaleX(1);
  }
  50% {
    left: 90%;
    top: 75%;
    transform: scaleX(-1);
  }

  75% {
    left: 50%;
    top: 75%;
    transform: scaleX(-1);
  }

  100% {
    left: 10%;
    top: 75%;
    transform: scaleX(-1);
  }
}
#mario {
  position: relative;
  animation: mario 10s infinite linear;
}
@keyframes mario {
  0% {
    left: 10%;
    transform: scaleX(1);
  }
  25% {
    left: 50%;
    transform: scaleX(1);
  }
  49% {
    left: 88%;
    transform: scaleX(1);
  }
  50% {
    left: 90%;
    transform: scaleX(-1);
  }

  75% {
    left: 50%;
    transform: scaleX(-1);
  }

  100% {
    left: 10%;
    transform: scaleX(-1);
  }
}
